@*This form will hold nested, formatted components so that they can be organized in
a heirarchy. This will be useful when it comes to generating certain parts of the
report from distinct components*@
<h3>ParentComponent</h3>

@code {
    
}